@mixin sliding-hover($bg-color) {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    transition: left 0.3s ease-in-out;
    z-index: 0;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);

    &::before {
      left: 0;
    }
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.primary-button {
  @include sliding-hover(#3c453d);
}

.secondary-button {
  @include sliding-hover(#000000);
  &:hover {
    color: #fff !important;
  }
}
